In [7]:
#dependencies and set up
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


#files to load
crime_2019_url = Path("/Users/aileen/Documents/GitHub/PROJECT/Crimes_-_2019.csv")

#storing into pandas dataframes
crimes_2019 = pd.read_csv(crime_2019_url)

crimes_2019.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11864018,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,...,3.0,33,11,1177560.0,1889548.0,2019,10/20/2019 03:56:02 PM,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,...,26.0,24,06,1160005.0,1905256.0,2019,10/20/2019 04:03:03 PM,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,0810,THEFT,OVER $500,RESIDENCE,False,False,...,27.0,28,06,1166986.0,1900306.0,2019,10/20/2019 03:56:02 PM,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,47.0,6,14,1164930.0,1923972.0,2019,10/20/2019 04:03:03 PM,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,0560,ASSAULT,SIMPLE,GAS STATION,False,False,...,47.0,3,08A,1167380.0,1934505.0,2019,10/20/2019 04:03:03 PM,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [13]:
#grouping primary types to larger categories of crime
crime_cleaned_df = crimes_2019.replace({"THEFT":"THEFT (ALL TYPES)","MOTOR VEHICLE THEFT":"THEFT (ALL TYPES)","ROBBERY":"THEFT (ALL TYPES)",
                                    "BURGLARY":"THEFT (ALL TYPES)","DECEPTIVE PRACTICE":"THEFT (ALL TYPES)",
                                    "PUBLIC PEACE VIOLATION":"OTHER MINOR CRIMES","INTERFERENCE WITH PUBLIC OFFICER":"OTHER MINOR CRIMES",
                                    "LIQUOR LAW VIOLATION":"OTHER MINOR CRIMES","OBSCENITY":"OTHER MINOR CRIMES","GAMBLING":"OTHER MINOR CRIMES",
                                    "NON-CRIMINAL":"OTHER MINOR CRIMES","PUBLIC INDECENCY":"OTHER MINOR CRIMES","OTHER OFFENSE":"OTHER MINOR CRIMES",
                                    "PROSTITUTION":"OTHER MINOR CRIMES","KIDNAPPING":"KIDNAPPING AND HUMAN TRAFFICKING","HUMAN TRAFFICKING" : "KIDNAPPING AND HUMAN TRAFFICKING",
                                    "NARCOTICS":"DRUG RELATED","OTHER NARCOTIC VIOLATION":"DRUG RELATED","ASSAULT": "ASSAULT & BATTERY","BATTERY": "ASSAULT & BATTERY",
                                    "RITUALISM":"ASSAULT & BATTERY","STALKING":"ASSAULT & BATTERY","INTIMIDATION":"ASSAULT & BATTERY","CRIMINAL TRESPASS":"MINOR PROPERTY CRIME",
                                    "CRIMINAL DAMAGE":"MINOR PROPERTY CRIME","CRIM SEXUAL ASSAULT": "SEXUAL RELATED CRIME","CRIMINAL SEXUAL ASSAULT": "SEXUAL RELATED CRIME",
                                    "SEX OFFENSE": "SEXUAL RELATED CRIME","WEAPONS VIOLATION":"WEAPONS RELATED CRIME","CONCEALED CARRY LICENSE VIOLATION":"WEAPONS RELATED CRIME"})

crime_cleaned_df["Primary Type"].value_counts()

THEFT (ALL TYPES)                   108113
ASSAULT & BATTERY                    70527
MINOR PROPERTY CRIME                 33499
OTHER MINOR CRIMES                   20989
DRUG RELATED                         15078
WEAPONS RELATED CRIME                 6556
SEXUAL RELATED CRIME                  3015
OFFENSE INVOLVING CHILDREN            2421
HOMICIDE                               508
ARSON                                  376
KIDNAPPING AND HUMAN TRAFFICKING       188
Name: Primary Type, dtype: int64

In [15]:
#retrieving count of unique primary types
counts_crime = crime_cleaned_df["Primary Type"].nunique()

counts_crime

11

In [18]:
#only including relevant columns in df
crime_cleaned_df = crime_cleaned_df[["Case Number", "Date", "Block", "Primary Type", "Description", "District", "Ward",
                                     "Year", "Latitude", "Longitude", "Location"]]

crime_cleaned_df

,Case Number,Date,Block,Primary Type,Description,District,Ward,Year,Latitude,Longitude,Location
0,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,THEFT (ALL TYPES),FINANCIAL IDENTITY THEFT $300 AND UNDER,1,3.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,THEFT (ALL TYPES),RETAIL THEFT,12,26.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,THEFT (ALL TYPES),OVER $500,12,27.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,MINOR PROPERTY CRIME,TO VEHICLE,19,47.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,ASSAULT & BATTERY,SIMPLE,20,47.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"
...,...,...,...,...,...,...,...,...,...,...,...
261265,JF160360,01/01/2019 12:00:00 AM,111XX S AVENUE O,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,4,10.0,2019,41.692927,-87.540108,"(41.692927247, -87.54010816)"
261266,JF411922,07/26/2019 12:00:00 AM,115XX S PEORIA ST,SEXUAL RELATED CRIME,INDECENT SOLICITATION OF A CHILD,5,21.0,2019,NaN,NaN,NaN
261267,JF277971,05/12/2019 02:44:00 PM,054XX S SEELEY AVE,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,9,16.0,2019,41.795190,-87.675556,"(41.795190075, -87.675555583)"
261268,JF407549,05/03/2019 12:30:00 PM,017XX W PRYOR AVE,SEXUAL RELATED CRIME,CRIMINAL SEXUAL ABUSE,22,19.0,2019,NaN,NaN,NaN
261269,JF408066,05/01/2019 12:00:00 AM,047XX W 82ND PL,SEXUAL RELATED CRIME,AGGRAVATED CRIMINAL SEXUAL ABUSE,8,18.0,2019,NaN,NaN,NaN

In [19]:
#counts of crime 
counts_crime = crime_cleaned_df["Primary Type"].value_counts()
counts_crime

THEFT (ALL TYPES)                   108113
ASSAULT & BATTERY                    70527
MINOR PROPERTY CRIME                 33499
OTHER MINOR CRIMES                   20989
DRUG RELATED                         15078
WEAPONS RELATED CRIME                 6556
SEXUAL RELATED CRIME                  3015
OFFENSE INVOLVING CHILDREN            2421
HOMICIDE                               508
ARSON                                  376
KIDNAPPING AND HUMAN TRAFFICKING       188
Name: Primary Type, dtype: int64

In [20]:
#retrieving count of unique primary types
counts_crime = crime_cleaned_df["Primary Type"].nunique()

counts_crime

11

In [21]:
district_df = crime_cleaned_df.groupby(["District"])[["Primary Type"]].count().sort_values(by = "Primary Type", ascending = False)

district_df

          Primary Type
District
11               18710
6                16885
8                15727
1                15302
18               15173
4                14055
7                13733
12               13186
25               12956
3                12510
10               12498
19               11838
5                11375
2                11256
9                11021
15               10010
14                9290
16                8320
22                8259
24                8019
17                6756
20                4384
31                   7

In [22]:
grouped_district_df = crime_cleaned_df.groupby(["District"])["Primary Type"].value_counts()

grouped_district_df

District  Primary Type
1         THEFT (ALL TYPES)                   10221
          ASSAULT & BATTERY                    2676
          MINOR PROPERTY CRIME                 1320
          OTHER MINOR CRIMES                    665
          DRUG RELATED                          213
                                              ...
25        HOMICIDE                               18
          KIDNAPPING AND HUMAN TRAFFICKING        9
31        MINOR PROPERTY CRIME                    3
          THEFT (ALL TYPES)                       3
          ASSAULT & BATTERY                       1
Name: Primary Type, Length: 244, dtype: int64

In [23]:
# Look at which district had the most crimes
district_df = crime_cleaned_df.groupby(["District"])[["Primary Type"]].count().sort_values(by = "Primary Type", ascending = False)
district_df

          Primary Type
District
11               18710
6                16885
8                15727
1                15302
18               15173
4                14055
7                13733
12               13186
25               12956
3                12510
10               12498
19               11838
5                11375
2                11256
9                11021
15               10010
14                9290
16                8320
22                8259
24                8019
17                6756
20                4384
31                   7

In [24]:
# Look at which crimes were most prevalent by district
grouped_district_df = crime_cleaned_df.groupby(["District"])["Primary Type"].value_counts()
grouped_district_df

District  Primary Type
1         THEFT (ALL TYPES)                   10221
          ASSAULT & BATTERY                    2676
          MINOR PROPERTY CRIME                 1320
          OTHER MINOR CRIMES                    665
          DRUG RELATED                          213
                                              ...
25        HOMICIDE                               18
          KIDNAPPING AND HUMAN TRAFFICKING        9
31        MINOR PROPERTY CRIME                    3
          THEFT (ALL TYPES)                       3
          ASSAULT & BATTERY                       1
Name: Primary Type, Length: 244, dtype: int64

In [25]:

# Drop rows without a latitude or longitude for API lookup of the zip code from the latitude and longitude
crime_cleaned_df = crime_cleaned_df.dropna(how = "any")
crime_cleaned_df

,Case Number,Date,Block,Primary Type,Description,District,Ward,Year,Latitude,Longitude,Location
0,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,THEFT (ALL TYPES),FINANCIAL IDENTITY THEFT $300 AND UNDER,1,3.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,THEFT (ALL TYPES),RETAIL THEFT,12,26.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,THEFT (ALL TYPES),OVER $500,12,27.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,MINOR PROPERTY CRIME,TO VEHICLE,19,47.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,ASSAULT & BATTERY,SIMPLE,20,47.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"
...,...,...,...,...,...,...,...,...,...,...,...
261258,JC409438,08/27/2019 03:00:00 PM,054XX W WEST END AVE,THEFT (ALL TYPES),ARMED - HANDGUN,15,28.0,2019,41.884288,-87.761097,"(41.884287939, -87.76109658)"
261259,JC432934,09/14/2019 10:30:00 AM,069XX W WRIGHTWOOD AVE,THEFT (ALL TYPES),STRONG ARM - NO WEAPON,25,36.0,2019,41.927198,-87.799585,"(41.927198353, -87.799585287)"
261260,JC408178,06/26/2019 12:00:00 PM,0000X W DIVISION ST,THEFT (ALL TYPES),CREDIT CARD FRAUD,18,2.0,2019,41.903917,-87.630510,"(41.903916987, -87.630509932)"
261265,JF160360,01/01/2019 12:00:00 AM,111XX S AVENUE O,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,4,10.0,2019,41.692927,-87.540108,"(41.692927247, -87.54010816)"
261267,JF277971,05/12/2019 02:44:00 PM,054XX S SEELEY AVE,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,9,16.0,2019,41.795190,-87.675556,"(41.795190075, -87.675555583)"